*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    
}
.promo {
    min-height: 800px;
    background-color: rgba(44,44,44,0.8);
    background: url(../img/bg/bg_main.png) center center/cover no-repeat;
    padding: 35px 0 62px 0;
}


.logo .logo_img {
    display: block;
    margin: 0 auto;   
}

.logo .logo_text {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title {
    font-size: 21px;
 /*    font-family: 'Roboto Black', sans-serif; */
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f9bf3b;
    text-align: center;
}

h2.title {
    margin-top: 30px;
}

.simple .title_easy {
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 21px;
    text-align: center;
}

.promo .promo_text {
    padding: 0 13px;
    font-size: 21px;
    /* line-height: 28px; */
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_text span {
    font-weight: 700;
    color: #f9bf3b;
}

.promo .promo_btn, .gift .gift_btn {
    display: block;
    margin: 69px auto;
    width: 321px;
    height: 80px;
    background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%);
    border: 4px solid rgba(0,0,0,0.22);
    box-shadow: -1px -1px 0px 0px rgba(0,0,0,0.21);
    font-size: 21px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 69px;
}

.more .more_text {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
}

.finish .finish_header {
    color: #fff;
}

.waiting .waiting_divider, .finish .finish_divider {
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    color: #4a4a4a;
    text-align: center;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 342px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;

}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #4a4a4a;
}

.seo {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.seo .seo_header {
    margin-left: 391px;
    font-family: Roboto;
    font-size: 30px;
    line-height: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
    }

.seo .seo_text {
    margin-top: 25px;
    margin-left: 391px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    color: #4a4a4a;
}

p {
    margin-top: 15px;
}

.seo .seo_text span {
    font-weight: 700;
}

.seo .seo_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url("../img/bg/bg_finish.png") center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;

}

.finish .finish_descr {
    margin-top: 26px;
    font-family: Roboto;
    font-size: 17px;
    line-height: 20px;
    font-weight: 300;
    color: white;
    text-align: center;
}

.gift {
    min-height: 628px;
    padding: 86px 0 90px 0;
    background-color: #efefef;
}

.gift .img_gift {
    display: block;
    margin: 0 auto;
}

.gift .gift_text {
    margin: 42px 0 48px 0;
    font-family: Roboto;
    font-size: 30px;
    line-height: 43px;
    font-weight: 400;
    color: #252525;
}

.date {
    min-height: 515px;
    padding: 89px 0 64px 0;
}

.date .img_date {
    display: block;
    margin: 0 auto;
}

.date .date_header {
    margin-top: 37px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
}

.date .date_time {
    text-align: center;
    margin-top: 30px;
    font-family: Roboto;
    font-size: 36px;
    line-height: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
}

.date .date_text {
    margin-top: 25px;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    line-height: 20px;
    font-weight: 400;
    color: #4a4a4a;
}

footer {
min-height: 166px;
padding: 61px 0 69px 0;
background-color: #1a1a1a;
}

.footer_text {
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #888888;
}

.footer_text span {
    text-decoration: underline;;
}